:root {
  --font-family: 'Inter', sans-serif;
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --color-primary: #f55a5a;
  --color-text: #2b283a;
  --color-gray-100: #dadada;
  --color-gray-500: #918e9b;
  --color-background: white;
}

*/ *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* line-height: calc(1em + 0.725rem); check later */
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body,
input,
button,
select,
option {
  font-weight: var(--font-weight-light);
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-background);
  font-size: 0.75rem;
  line-height: 1.5;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.link {
  color: var(--color-gray-500);
}

.container {
  --padding: 2.5rem * 2;
  --max-width: 36rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.section {
  /* padding-block: clamp(4rem, 10vh, 6rem); */
  padding-block: 4rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}
